
 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 60%;
    width: 40%;
    height: 40%;
 }
 .lista {
    font-size: 20px;
    font-style: italic;
 }
 body {
    background-color: blanchedalmond;
 }

 .name-background{
 background-image: url("pictures/vitatoppar2-version-2.jpg");
 background-repeat: no-repeat;
 background-size: 1500px 125px;
 font-weight: bold;
 text-align: center;
 }

 
nedan stående del han ejs med
 #p-to-next {
   font-size: 20px;
   font-style: oblique;
   color: rgb(86, 63, 4);
   text-align: right;
   
 }